<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filter</title>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">


  <!-- style sheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <header><%- include('partials/_header') %></header>

  <!-- Page-specific (main) content here -->
  <main class="container">
    <h1 class="super_headline">🍹🍻🍷 Filter 🍹🍻🍷</h1>

    <div class="form_frame_filter">
    <form class = "filter_from" action="/filter" method="POST" id="filter_beverages">

      <label for="filter_min_price">Minimum Price</label><input type="number" name="minimum_price" placeholder="Min" id="minimum_price">
      <br>

      <label for="filter_max_price">Maximum Price</label><input type="number" name="maximum_price" placeholder="Max" id="maximum_price">
      <br>

      <label for="filter_country">Country</label>
      <input type="text" name="country" placeholder="Country" id="country">
      <br>

      <label for="filter_beverage">Beverage</label><input type="text" name="beverage" placeholder="Beverage" id="beverage">
      <br>

      <label for="filter_category">Category</label><input type="text" name="category" placeholder="Category" id="category">
      <br>

      <label for="filter_posted_at">Order By Price</label><input type="text" name="posted_at" placeholder="ASC/DESC" id="posted_at">
      <br>

      <button class="submit">Search</button>
      <div class="filter_form"><button class="reset"><a id="filter_form_clear" href="/filter">Reset</a></button></div>
    </form>
  </div>

    <section id="listings-container">
      <% for (const beverage of beverages) {%>
        <% if (beverage.is_available) {%>

          <div class="card_container_with_buttons">
          <!-- Container for INDIVIDUAL card -->
        <div class="card_frame">

          <div class ="top_of_card">
          <div class="image"><img class="thumbnail" src="<%= beverage.thumbnail_url %>"></div>
          <h3><%= beverage.name %></h3>
          <p class="listingDescription"><%= beverage.description %></p></div>

            <!-- Container for Footer of Card -->
            <div class="listingFooter">

              <!-- Container for Elements in Footer -->
              <div class="listing_footer_elements">
              <div class="dollars"><p class="price">$<%= beverage.price %></p></div>
              <div class="cardmail">
                <% if (parseInt(cookieID) !== beverage.seller_id) {%>
                <form action="messages" method="POST" id="messages">
                <input type="hidden" name="seller_id" value=<%= beverage.seller_id %>>
                <button class="sold_id"><img class="small_mail" src="../images/mail.png"></button>
                </form>
                <%}%>
              </div>
              <div class="postedat"><p >Posted: <%= new Date(beverage.posted_at).toDateString() %></p></div>
              <% if (!beveragesSelected[beverage.id]) {%>
                <form action="listings/favourites" method="POST" id="favourites">
                  <input type="hidden" name="is_favourite" value=<%= beverage.id %>>
                  <button class="sold_id"><img class="heart" src="../images/heart.png"></button>
                </form>
                <%}%>
                <% if (beveragesSelected[beverage.id]) {%>
                  <form action="listings/deletefavourite" method="POST" id="favourites">
                    <input type="hidden" name="is_favourite" value=<%= beverage.id %>>
                    <button class="sold_id"><img class="blackheart" src="../images/blackheart.png"></button>
                  </form>
                <%}%>
              <!-- <div class="icon">
              </div> -->
            </div>
          </div>
        </div>
        <!-- Buttons -->
            <div class="buttons">
            </div>
          </div>




        <%} else {%>
          <div class="card_container_with_buttons">
            <!-- <div class="listing"> -->
              <div class="card_frame">
              <!-- <header class="image"> -->
                <div class ="top_of_card">
                <!-- <div class="userListing"> -->
                  <div class="image"><img class="thumbnail" src="<%= beverage.thumbnail_url %>"></div>
              <!-- </header> -->
              <h3><%= beverage.name %> <span class="sold">[SOLD]</span></h3>
              <p class="listingDescription"><%= beverage.description %></p></div>
                <div class="listingFooter">
                  <!-- Container for Elements in Footer -->
                  <div class="listing_footer_elements">
                    <div class="dollars"><p class="price">$<%= beverage.price %></p></div>
                    <div class="cardmail">
                      <% if (parseInt(cookieID) !== beverage.seller_id) {%>
                        <form action="messages" method="POST" id="messages">
                        <input type="hidden" name="seller_id" value=<%= beverage.seller_id %>>
                        <button class="sold_id"><img class="small_mail" src="../images/mail.png"></button>
                        </form>
                        <%}%>
                    </div>
                    <div class="postedat"><p>Sold: <%= new Date(beverage.sold_at).toDateString() %></p></div>
                    <% if (!beveragesSelected[beverage.id]) {%>
                      <form action="listings/favourites" method="POST" id="favourites">
                        <input type="hidden" name="is_favourite" value=<%= beverage.id %>>
                        <button class="sold_id"><img class="heart" src="../images/heart.png"></button>
                      </form>
                    <%}%>
                    <% if (beveragesSelected[beverage.id]) {%>
                      <form action="listings/deletefavourite" method="POST" id="favourites">
                        <input type="hidden" name="is_favourite" value=<%= beverage.id %>>
                        <button class="sold_id"><img class="blackheart" src="../images/blackheart.png"></button>
                      </form>
                    <%}%>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
            <div class="buttons">
            </div>
          </div>

          <!-- </div> -->
          <%}%>

      <%}%>



    </section>
  </main>
  <div class="bottomGradientBar"></div>
</body>

</html>
