<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitPub</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- style sheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="/scripts/moment.js"></script>
  </head>

  <body>

      <header><%- include('partials/_header') %></header>

    <!-- Page-specific (main) content here -->
    <main class="container">
      <h1 class="super_headline">GitPub Specials</h1>

      <!-- Container for ALL cards -->
      <section id="listings-container">
        <% for (const beverage of beverages) {%>
          <% if (beverage.is_available) {%>

            <div class="card_container_with_buttons">
            <!-- Container for INDIVIDUAL card -->
          <div class="card_frame">

            <div class ="top_of_card">
            <div class="image"><img class="thumbnail" src="<%= beverage.thumbnail_url %>"></div>
            <h3><%= beverage.name %></h3>
            <p class="listingDescription"><%= beverage.description %></p></div>

              <!-- Container for Footer of Card -->
              <div class="listingFooter">

                <!-- Container for Elements in Footer -->
                <div class="listing_footer_elements">
                <p class="price">$<%= beverage.price %></p>
                <div class="cardmail"> <img class="small_mail" src="../images/mail.png"></div>
                <div class="posted-at"><p>Posted at<%= new Date(beverage.posted_at).toDateString()%></p></div>
                <img class="heart" src="../images/heart.png">
                <!-- <div class="icon">
                </div> -->
              </div>
            </div>
          </div>
          <!-- Buttons -->
              <div class="buttons">
                <form action="listings/favourites" method="POST" id="favourites">
                  <input type="hidden" name="is_favourite" value=<%= beverage.id %>>
                  <button class="sold_id">Add to Favourites</button>
                </form>
                <form action="messages" method="POST" id="messages">
                  <input type="hidden" name="seller_id" value=<%= beverage.seller_id %>>
                  <button class="sold_id">Email</button>
                </form>
              </div>
            </div>




          <%} else {%>
            <div class="card_container_with_buttons">
              <!-- Container for INDIVIDUAL card -->
            <div class="card_frame">

              <div class ="top_of_card">
              <div class="image"><img class="thumbnail" src="<%= beverage.thumbnail_url %>"></div>
              <h3><%= beverage.name %> - HAS BEEN SOLD!!!</h3>
              <p class="listingDescription"><%= beverage.description %></p></div>
                <div class="listingFooter">
                  <div class="listing_footer_elements">
                  <p>$<%= beverage.price %></p>
                  <div class="icon">
                    <p class="posted-at">Posted at<%= new Date(beverage.posted_at).toISOString().split("T")[0] %></p>
                    <img class="heart_svg" src="../images/heart.svg">
                  </div>
                </div>
              </div>
            </div>

                <!-- Buttons -->
              <div class="buttons">
                <form action="listings/favourites" method="POST" id="favourites">
                  <input type="hidden" name="is_favourite" value=<%= beverage.id %>>
                  <button class="sold_id">Add to Favourites</button>
                </form>
              </div>
            </div>

            <!-- </div> -->
            <%}%>
        <%}%>

      </section>
    </main>
    <div class="bottomGradientBar"></div>
  </body>
  <!-- <script>
    $(document).ready(function() {
      //$(".posted-at").text(moment().startOf(`${beverage.posted_at}`).fromNow());
      });
  </script> -->
</html>

